<div class="window-popup-mov-window" (showIf)="self.showWindowPopup">
	<!-- <button onclick="component.openPopup()">Open Popup-mov-window</button> -->
	<div id="container-@uniqueId" class="popup-windows-cmp-container">
		<div id="@uniqueId" class="popup-mov-window">
			<span>
				
			</span>
			<div class="resize-handle n"></div>
			<div class="resize-handle s"></div>
			<div class="resize-handle w"></div>
			<div class="resize-handle e"></div>
			<div class="resize-handle nw"></div>
			<div class="resize-handle ne"></div>
			<div class="resize-handle sw"></div>
			<div class="resize-handle se"></div>

			<div class="popup-mov-window-header-@uniqueId popup-mov-window-header">
				<div class="popup-mov-window-title">Data Query Window</div>
				<div class="popup-mov-window-controls">
					<button class="minimize" style="visibility: hidden;" onclick="component.toggleMinimize()">−</button>
					<button class="maximize" style="visibility: hidden;" onclick="component.toggleMaximize()">□</button>
					<button class="close" onclick="component.closePopup()">×</button>
				</div>
			</div>

			<div class="popup-mov-window-content">
				<div class="code-editor-container"></div>
				<div class="table-container"></div>
			</div>
		</div>
	</div>
</div>


</html>